.error__page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: auto;
  width: 60vw;
  height:50vh;
  border-radius: 15px;
  background-image: url(../../images/error404.png);background-position-x: right;
  background-size: cover;
  background-repeat: no-repeat;
  padding: rem(0) rem(40) rem(0) rem(40);
  color:white;
    @include tablet {
      padding: rem(0) rem(0) rem(0) rem(90);
    }

  &--title {
    font-size: rem(40);
    font-weight: 700;margin-bottom: rem(5);
    @include tablet{
      font-size: rem(50);
    }  
  }

  &--text {
    margin-bottom: rem(25);
  }
  &--button {
    @include parseLink;
    font-size: 14px;
    background-color: $primary;
    color:white;
    padding: rem(10) rem(15);
    border-radius: rem(10);
    cursor: pointer;
    transition: all 0.5s ease-out;
    &:hover {
      transform: scale(1.1);
    }  
  }   
}

.error__link {
  margin-right: 10px;
}