.error__page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: auto;
  width: 60vw;
  height:50vh;
  border-radius: 15px;
  background-image: url(../../images/error404.png);background-position-x: right;
  background-size: cover;
  background-repeat: no-repeat;
  padding: rem(0) rem(40) rem(0) rem(40);
    color:white;
    @include tablet {
      padding: rem(0) rem(0) rem(0) rem(110);
    }


  &--title {
    font-size: rem(50);
    
  }
 &--text {
  margin-bottom: rem(25);
 }
  &--button {
    @include parseLink;
    background-color: $primary;
    color:white;
    padding: rem(10) rem(30);
    border-radius: rem(10);

  
  }
    
}