.form__status {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  @include fieldset ;
  @include desktop {
    flex-grow: 0;
  }

  &--legend {
    margin-bottom: rem(10);
    text-align: start;
    font-size: 18px;
  }

  &--container {
    display: flex;
    gap:30px;
  } 

  &--icons{
  font-size: 18px;
  padding-left: 7px;
  color: black;
    &:hover {
      color: $primary;
    }
    @include tablet {
      font-size: 20px;
    }
  }
}
