.header {
 text-align: center;
  &__img {
    width: rem(260);
    margin-top: rem(25);
    margin-bottom: rem(25);
    @include tablet {    
    margin-top: rem(30);
    margin-bottom: rem(30);
    }
  }
}