
.container {
//   background-image: url('../../images/fondo.jpg');
// background-position: top;
//     background-size: cover;
//     background-repeat: no-repeat;
    
  height: 100%;
   background: radial-gradient(circle, rgb(39, 39, 39) 10%, rgb(24, 24, 24) 100%);

padding-bottom: rem(50);
}
